@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: rgba(196, 209, 210, 0.824);
    font-family: Oswald;
}

.players {
    width: 200%;
    max-width: 400px;
    aspect-ratio: 4 / 4;
    object-fit: cover;
    border-radius: 50px;
}

.buttons {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 250ms;
    width: 200px;
    text-align: center;
    font-size: 15px;
}

.buttons:hover {
    background-color: rgba(215, 218, 221, 0.913);
}

#dialogGols {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: "Roboto Mono";
    font-size: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 200%;
    max-width: 400px;
    text-align: center;
}

#dialogAssistencias {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: "Roboto Mono";
    font-size: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 200%;
    max-width: 400px;
    text-align: center;
}

#dialogCartoesA {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: "Roboto Mono";
    font-size: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 200%;
    max-width: 400px;
    text-align: center;
}

#dialogCartoesV {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: "Roboto Mono";
    font-size: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 200%;
    max-width: 400px;
    text-align: center;
}

#opcoesEs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}