@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: cadetblue;
    font-family: Oswald;
    color: #000000;
}

#spanLinks {
    position: relative;
    left: 73em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.botao {
    background-color: cornflowerblue;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-family: Oswald;
    font-size: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}